<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gurufinalproject">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permisson.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/signiture"
        android:label="@string/app_name"
        android:roundIcon="@drawable/signiture"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.administrator.NoticeModifyActivity"></activity>
        <activity android:name=".activity.ElseActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.gurufinalproject"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".activity.MemberNavigationActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.NoteWriteActivity" />
        <activity android:name=".activity.NoticeDetailActivityM"/>
        <activity android:name=".activity.NoteDetailActivity" />
        <activity android:name=".activity.AdminJoinActivity" />
        <activity android:name=".activity.MemberJoinActivity" />
        <activity android:name=".activity.SelectLoginActivity" />
        <activity android:name=".activity.administrator.AdminCheckWritingActivity" />
        <activity android:name=".activity.administrator.AdminNoticeActivity" />
        <activity android:name=".activity.administrator.NoticeDetailActivity" />
        <activity android:name=".activity.administrator.NoticeWriteActivity" />
        <activity android:name=".activity.administrator.NoteAdminActivity" />
        <activity android:name=".activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>